{% extends 'client/base.html' %}
{% block content %}
<div class="page">
    <div class="login-card">
        <h2 class="login-header">🔐 LOGIN</h2>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" name="username" class="inp" placeholder="Username" required>
            <input type="password" name="password" class="inp" placeholder="Password" required>
            <button type="submit" class="btn">SIGN IN</button>
        </form>
        <p class="footer-text">New User? <a class="pink-link" href="{% url 'signup' %}">Create Account</a></p>
    </div>
</div>
{% endblock %}
